Application slug:
{{ .Slug }}

Original user prompt:
{{ .UserPrompt }}

Application metadata:
{{ call .jsonMarshal .MetaJson }}

Application design:
{{ call .jsonMarshal .Design }}

Current logical request:
{{ call .jsonMarshal .Request }}
